* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Karla', sans-serif;
}

.pricing-text,
.about-text {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  margin: auto;
  color: white;
  padding-top: 4.5rem;
}

.pricing-text h2,
.about-text h2 {
  margin-bottom: 2rem;
  font-size: 1.7rem;
}