.intro {
  grid-column: 1/3;
  background: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.intro-text {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding-left: 1rem;
  h1 {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
    color: $primary-cyan;
  }
  h2 {
    font-size: $text;
    color: $primary-bright-yellow;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.5rem;
    color: $grayish-blue;
    line-height: 1.5;
    width: 90%;
  }
}
